body {
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px 0 5px;
}

.logo img {
  height: 80px;
  width: auto;
}

header {
  background-color: hsl(192, 74%, 33%);
  padding: 5px 10px;
  position: fixed;
  z-index: 1;
  width: 100%;
}

nav {
  display: flex;
  justify-content: flex-end;
}

nav ul {
  list-style: none;
  display: flex;
  padding: 0;
}

nav li {
  margin-left: 30px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 700;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #000280;
  width: 100%;
}

.video-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  text-align: center;
  padding: 20px;
}

.overlay h1 {
  font-size: 3em;
  margin: 0;
}

.overlay p {
  font-size: 1.2em;
  margin: 10px 0 20px;
}

.cta-button {
  background-color: #000280;
  color: #bdbeb6;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 700;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #473f92;
}
.ancora {
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
}

.introducao {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

.paragrafo {
  max-width: 600px;
  text-align: justify;
  font-family: sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}

.notification {
  margin: 20px;
  display: flex;
  flex-direction: column;
  isolation: isolate;
  position: relative;
  width: 18rem;
  height: 8rem;
  background: #ffffff;
  border-radius: 1rem;
  overflow: hidden;
  font-family: inherit;
  font-size: 14px;
  text-align: justify;
  --gradient: linear-gradient(to bottom, #2eadff, #3d83ff, #7e61ff);
  --color: #32a6ff;
}

.notification:before {
  position: absolute;
  content: "";
  inset: 0.0625rem;
  border-radius: 0.9375rem;
  background: #ffffff;
  z-index: 3;
}

.notification:after {
  position: absolute;
  content: "";
  width: 0.25rem;
  inset: 0.65rem auto 0.65rem 0.5rem;
  border-radius: 0.125rem;
  background: var(--gradient);
  transition: transform 300ms ease;
  z-index: 4;
}

.notification:hover:after {
  transform: translateX(0.15rem);
}

.notititle {
  color: var(--color);
  padding: 0.65rem 0.25rem 0.4rem 1.25rem;
  font-weight: 500;
  font-size: 1.1rem;
  transition: transform 300ms ease;
  z-index: 5;
}

.notification:hover .notititle {
  transform: translateX(0.15rem);
}

.notibody {
  color: #99999d;
  padding: 0 1.25rem;
  transition: transform 300ms ease;
  z-index: 5;
}

.notification:hover .notibody {
  transform: translateX(0.4rem);
}

.notiglow,
.notiborderglow {
  position: absolute;
  width: 20rem;
  height: 20rem;
  transform: translate(-50%, -50%);
  background: radial-gradient(
    circle closest-side at center,
    white,
    transparent
  );
  opacity: 0;
  transition: opacity 300ms ease;
}

.notiglow {
  z-index: 3;
  height: 10px;
}

.notiborderglow {
  z-index: 1;
}

.notification:hover .notiglow {
  opacity: 0.1;
}

.notification:hover .notiborderglow {
  opacity: 0.1;
}

.note {
  color: var(--color);
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 1rem;
  width: 75%;
}

footer {
  background-color: #167b94;
  padding: 10px 0;
  color: aliceblue;
  text-align: center;
}
